@tailwind base;
@tailwind components;
@tailwind utilities;

/* Component class names should be added to the `tailwind.config.js` file. */
/* - CSS file enables `@apply` syntax and class name sorting using Prettier. */
/* - Plugin `addComponents()` enables VS Code Intellisense and autocomplete. */
/* Reference https://github.com/tailwindlabs/tailwindcss/discussions/11012 */
/* Reference https://github.com/tailwindlabs/tailwindcss-intellisense/issues/227 */

@layer base {
	th,
	td {
		@apply whitespace-nowrap px-5 text-smallish sm:px-6;
	}
	th {
		@apply py-3.5;
	}
	td {
		@apply py-4;
	}
}

/* User-Agent */
@layer components {
	.ua-anchor {
		@apply cursor-pointer text-blue-800 underline visited:text-violet-800 active:text-red-800;
	}
}

/* Button */
@layer components {
	.btn {
		@apply rounded-md px-3 py-2 text-center shadow-sm transition-colors text-smallish;
	}
	.btn-xs {
		@apply rounded px-2 py-1 text-sm;
	}
	.btn-sm {
		@apply px-2.5 py-1.5;
	}
	.btn-lg {
		@apply px-3.5 py-2.5;
	}
	.btn-primary {
		@apply bg-blue-600 text-white hover:bg-blue-700 disabled:bg-gray-400 disabled:text-gray-100 disabled:hover:bg-none;
	}
	.btn-secondary {
		@apply bg-blue-100 text-blue-700 hover:bg-blue-200 disabled:bg-gray-200 disabled:text-gray-500 disabled:hover:bg-none;
	}
	.btn-danger {
		@apply bg-red-600 text-white hover:bg-red-700 disabled:bg-gray-400 disabled:text-gray-100 disabled:hover:bg-none;
	}
	.btn-spinner {
		/*  */
	}
}

@layer utilities {
	/* `dvh` has less browser support than `:has()`. */
	/* Reference https://caniuse.com/mdn-api_css_dvh_static */
	/* Reference https://github.com/tailwindlabs/tailwindcss/pull/11317#issuecomment-1821960839 */
	.min-h-screen {
		min-height: 100vh;
		min-height: 100dvh;
	}
	.h-screen {
		height: 100vh;
		height: 100dvh;
	}
}
